@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body,
    #root {
        @apply h-full bg-zinc-50
    }

    .container {
        width: 935px !important;
        max-width: 100%;
    }

    #root {
        @apply flex flex-col
    }

    #root .container {
        @apply flex-1
    }
}

@layer components {
    .messages-box>div {
        @apply flex flex-col gap-y-2
    }

    .accounts-sidebar-ul li {
        height: 20px;
        padding: 26px 26px 26px 26px;
        width: 100%;
        display: inline-flex;
        align-items: center;
        position: relative;
    }

    .accounts-sidebar-ul li a.activee::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 52px;
        background-color: #000000;
    }

    .accounts-sidebar-ul li:hover::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 52px;
        background-color: #dbdbdb;
    }

    .accounts-sidebar-ul li:hover {
        cursor: pointer
    }
}